body {
  visibility: hidden;
}

td, th {
  border: 1px solid lightblue;
  padding: 2px 5px;
  text-align: left;
}

table {
  border-collapse: collapse;
}

table.node_config_table td, table.node_config_table th{
  border: 0;
}

th {
  font-size: 13px;
}

.nav_link_group {
  margin: 10px 0;
}

th.component_th {
  background-color: #dddddd;
  font-size: large;
  padding: 10px;
}

.ui-layout-west h3 {
  background-color: #eeeeee;
  padding: 5px 10px 5px 10px;
  margin: 18px 0 10px 0;
}

.ui-layout-west li {
  margin: 3px 10px;
  padding: 0;
}

.ui-layout-west a {
  font-size: 15px;
}

.ui-layout-west ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

h1, h2, h4 {
  background-color: #eeeeee;
  padding: 12px 10px;
}

.processing_img {
  display: none;
}

.proposal_id_td {
  display: none;
}

#accordion a:hover {
  background-color: transparent;
}

.rest_api_table, .rest_api_table table, .rest_api_table textarea {
  width: 100%;
}

#errorExplanation {
  color: red;
}
