%p
  Hello #{@resource.email},

%p
  Welcome to NII InaaS(Install as as Service)!

%p  
  You can confirm your account through the link below:
  %br
  = link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p
  Sincerely,
  %br
  NII InaaS
